
<nav  style="background-color: #5f5f5f;" class="navbar-fixed-top navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul style="background-color: #333333;" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a data-toggle="dropdown"><b><span style=" cursor:pointer; color:#FFF;">Login</span></b></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <b>ลงชื่อเข้าใช้</b>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                        <input type="email" name="email" class="form-control" id="input_email" placeholder="Email addres">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                                        <input type="password" name="pass" class="form-control" id="input_pass" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <button onclick="login()" class="btn btn-success btn-block">Sign in</button>
                                    </div>
                                    <div class="checkbox">
                                        <label>

                                                <input type="checkbox">จดจำรหัสผ่าน
                                        
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="bottom text-center">
                                    New here ? <a href="#"><b>Join Us</b></a>
                                </div> -->
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id ="showdata"></div>

<div align="left">
<p id="list_pagi"></p>
        <ul id="back_pagi" class="pagination"></ul>
        <ul id="pagination" class="pagination"></ul>
        <ul id="next_pagi" class="pagination"></ul>

<div style="float:right;" class="col-lg-3">
        <div class="input-group">
          <input  id="datasearch" type="text" class="form-control" placeholder="Search write here">
            <span class="input-group-btn">
                <button onclick="searchindex()" class="btn btn-secondary" type="button">SEARCH GO</button>
            </span>
        </div>
    </div>
</div>




 




