<!DOCTYPE html>
<html lang="en">
<head>

<div  id= "headhtmladmin">
        
            <h1><b>HTML Blog Editor Admin</b></h1>
</div>

  <meta charset="utf-8">
  <title><%- title %></title>
  <meta name="description" content="">
  <meta name="author" content="">

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/summernote-master/test/libs/bootstrap.js"></script> 
<link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

<script src="/node_modules/sweetalert-master/dist/sweetalert.min.js"></script>
<link href="/node_modules/sweetalert-master/dist/sweetalert.css" rel="stylesheet" type="text/css">
<script src="/node_modules/async/dist/async.min.js"></script>
 
<script src="/node_modules/moment/moment.js"></script>
<!--js upimg-->
<script type="text/javascript" src="/js/upimg/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/js/upimg/jquery.fileupload.js"></script>


<script src="/node_modules/summernote-master/dist/summernote.js"></script>
<link href="/node_modules/summernote-master/dist/summernote.css" rel="stylesheet">
<script src="/js/controller.admin.js"></script>
<link href="stylesheets/style.css" type="text/css" rel="stylesheet">

<!--css upmg-->
<link rel="stylesheet" type="text/css" href="/css/upimg/style.css">
<link rel="stylesheet" type="text/css" href="/css/upimg/jquery.fileupload.css">

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
  
 <!-- styles -->
  
  <!-- <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
</head>
<body >
<%- body %>  
</body>
</html>